@font-face {
    font-family: Scratch;
    src: url(fonts/Scratch_.ttf);
}

@font-face {
    font-family: Handlee;
    src: url(fonts/handlee-regular.ttf),
    url(fonts/handlee-regular.eot), url(fonts/handlee-regular.woff), url(fonts/handlee-regular.woff2);
}

@font-face {
    font-family: Airbag;
    src: url(fonts/AirbagFree-Regular.ttf),
    url(fonts/Airbag-Regular.otf);
}

body, header, section, svg, div, p, a, h1, h2, img, figure, ul, li, footer{
	margin: 0;
	padding: 0;
}

/* header*/
body{
	width: 100vw;
	margin: auto;
	height: auto;
	background-color: black;
	display: flex;
	flex-direction: column;
	font-family: Jura;
}

.wrapper{
	position: absolute;
	overflow-x: hidden;
	width: 100%;
}

.topShade{
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 15vh;
	background: transparent;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
	background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Stalemate;
	z-index: 9;
	width: 100%;
	height: 12vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	padding: 0 2%;
	box-sizing: border-box;
}

.headerDelay{
	animation: header_delay 4s linear 0s 1 forwards ;
	-webkit-animation: header_delay 4s linear 0s 1 forwards ;
	-moz-animation: header_delay 4s linear 0s 1 forwards;
}

.navCloud{
	z-index: 11;
}

.floatingCloud1{
	animation: 1s linear 0s infinite alternate move_cloud1;
	-webkit-animation: 1s linear 0s infinite alternate move_cloud1;
	-moz-animation: move_cloud1 1s linear 0s infinite alternate;
}

img#headerCloud1{
	z-index: 11;
	height: 10vh;
	width: auto;
	padding: 1vh;
	box-sizing: border-box;
	
}

ul li{
	list-style-type: none;
	display: inline-block;
}

/* animated hamburger */
		.hamburgerContainer {
			z-index: 10;
		    display: none;
		    cursor: pointer;
		    padding: 3vh 2vh;
		    box-sizing: border-box;
		}

		.bar1, .bar2, .bar3 {
			z-index: 12;
		    width: 6vh;
		    height: 0.7vh;
		    background: white; 
    		/*background: -webkit-linear-gradient(right, darkgrey, white); 
  			background: -o-linear-gradient(right, darkgrey, white); 
   			background: -moz-linear-gradient(right, darkgrey, white);
   			background: linear-gradient(right, darkgrey, white); 
		   */ border-radius: 50%;
		    margin: 1.1vh 0;
		    transition: 0.4s;
		    box-sizing: border-box;
		}

/* Rotate first bar */
		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-1.7vh, 1vh) ;
		    transform: rotate(-45deg) translate(-1.7vh, 1vh) ;
		}

		/* Fade out the second bar */
		.change .bar2 {
		    opacity: 0;
		}

/* Rotate last bar */
		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-1.4vh, -1vh) ;
		    transform: rotate(45deg) translate(-1.4vh, -1vh) ;
		}

/* menu hamburger */
		.menuHamburger{
			z-index: -3 !important;
			display: block;
			position: fixed;
			top: -100vh;
			right: 0vw;
			font-size: 2.5vh;
			font-weight: bolder;
			width: 100vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.9);
			color: white;
			transition: 0.5s;	
			padding-top: 20vh;
			box-sizing: border-box;
		}

.change .menuHamburger{
			transform:  translateY(100vh); 
		}

		.menuHamburger li{
			text-align: center;
			display: block;
			padding: 4vh;
			box-sizing: border-box;
			
		}


/* menu widescreen*/
		ul.menuWide{
			display: inline-block;
			margin: auto 0;
			box-sizing: border-box;
			font-size: 2vh;
			font-weight: bold;
			box-sizing: border-box;
		}

		.menuWide li a{
			width: auto;
			display: inline-block;
			padding: 0 3vh;
			box-sizing: border-box;
		}


		.menuWide a, .menuHamburger a{
			font-size: 6vh;
			text-align: center;
			text-decoration: none;
			color: white;
		}


section#home{
	height: 100vh;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

div.cloud2{
	z-index: 1;
	position: absolute;
	top: 37vh !important;
	left: 30%;
	width: 30%;
	height: auto;
	overflow: hidden;
}

img.cloud2{
	width: 100%;
	height: auto;
	opacity: 1;
	overflow: hidden;
}

div.translatingCloud2{	
	-webkit-animation: translating_cloud2 4s linear 0s 1 forwards;
	-moz-animation: translating_cloud2 4s linear 0s 1 forwards;
	animation: translating_cloud2 4s linear 0s 1 forwards;
}

div.storm1{
	position: absolute;
	top: 0;
	left: 20vw;
	background-image: url(images/StormNight2.png);
	background-repeat: repeat-y;
	background-size: cover;
	height: 100%;
	width: 60%;
}

div.storm2{
	position: absolute;
	top: 0;
	left: 20vw;
	background-image: url(images/StormNight1.png);
	background-repeat: repeat-y;
	background-size: cover;
	height: 100%;
	width: 60%;
	opacity: 1;
	animation:4s linear 0s normal forwards infinite lightning;
    -webkit-animation:4s linear 0s normal forwards infinite lightning;
    -moz-animation:4s linear 0s normal forwards infinite lightning;
}

.home1{
	z-index: 2;
	position: absolute;
	top: 12vh;
	left: 0;
	width: 100%;
	height: 88vh;
	
	}

.home1Box{
	position: absolute;
	top: 20%;
	left: 20.2%;
	display: flex;
	flex-direction: row;
	width: 60%;
	height: 60%;
    background-color: rgba(250, 250, 250, 1);
}

.enhanced .home1Box{
	transition: transform 600ms cubic-bezier(0, 0, 0, 0.6) !important;
	transform: translateX(-100vw) !important;
}

.home1Box.revealed{
	transform: translateX(0) !important;
}

div.photoMe{
	display: inline-block;
	height: 100vh;
	width: 50vw;
}

img.photoMe{
	height: 40vh;
	width: auto;
	border-radius: 3%;
	margin-left: 10%;
	margin-top: 6vh;
	box-sizing: border-box;
	box-shadow: 3px 3px 6px rgba(250, 250, 250, 0.2);
}

.home2{
	display: inline-block;
	z-index: 2;
	position: absolute;
	left: 50%;
	top: 35%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

#home h1, #home h2{
	padding-top: 3vh;
	box-sizing: border-box;
	width: auto;
	font-family: Amaranth;
	color: white;
	text-shadow: 3px 3px 3px black, -3px -3px 3px black;
}

#home h1{
	width: 100%;
	text-align: left;
	font-size: 5vh;
	font-family: Amaranth;
}

#home h2{
	font-size: 3.8vh;
	width: 100%;
	text-align: left;
	padding-left: 0.3vw;
}

.home2 h1 span{
	color: white;
	text-shadow: 3px 3px 3px black, -3px -3px 3px black;
}

#aboutMe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
    height: 100vh;
	width: 100%;
	color: black;
	overflow: hidden;
	margin-top: 12vh !important;
	box-sizing: border-box;
}

div .chronoList{
	height: 88vh;
	width: 100%;
}

.chronoList ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: bolder;
	font-size: 3vh;
	width: 60%;
	height: 60%;
	background-color: rgb(250, 250, 250);
	margin-top: 11.5%;
	margin-left: 20.2%;
	box-sizing: border-box;
}

.enhanced .chronoList ul{
	transition: transform 600ms cubic-bezier(0, 0, 0, 0.5);
	transform: translateX(100vw);
}

.chronoList ul.revealed{
	transform: translateX(0);
}

.chronoList ul li{
	padding: 2vh;
	box-sizing: border-box;
	text-align: center;
	}

section#skills{
	position: relative;
    height: 100vh !important;
	width: 100%;
	color: black;
	margin-top: 12vh;
	box-sizing: border-box;
}

.skillsWrapper{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 88vh;
}

div .skills{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 60%;
	height: 60%;
	background-color: rgb(250, 250, 250);
	margin-top: 14.5%;
	margin-left: 20.2%;
	box-sizing: border-box;
}

.enhanced div .skills{
	transition: transform 600ms cubic-bezier(0, 0, 0, 0.5);
	transform: translateX(-100vw);
}

div .skills.revealed{
	transform: translateX(0);
}

.languages{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.skillsSlide{
	width: 12vh;
	min-width: 12vh;
	height: 12vh;
	background-color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 2%;
	box-shadow: 2px 2px 2px black;
	margin: 1vh;
}

.skills h3, .chronoList h3{
	font-family: Stalemate;
	font-size: 7vh;
	font-weight: bolder;
	text-align: center;
	text-decoration: underline;
}

.slide1{
	background-color: red;
}

.enhanced div .slide1{
	transition: transform 400ms cubic-bezier(0, 0, 0, 0.5) 600ms;
	transform: scale(0);
}

div .slide1.revealed{
	transform: scale(1);
}

.slide2{
		background-color: orange;
}

.enhanced div .slide2{
	transition: transform 400ms cubic-bezier(0, 0, 0, 0.5) 800ms;
	transform: scale(0);
}

div .slide2.revealed{
	transform: scale(1);
}

.slide3{
	background-color: yellow;
}

.enhanced div .slide3{
	transition: transform 400ms cubic-bezier(0, 0, 0, 0.5) 1000ms;
	transform: scale(0);
}

div .slide3.revealed{
	transform: scale(1);
}

.slide4{
	background-color: green;
}

.enhanced div .slide4{
	transition: transform 400ms cubic-bezier(0, 0, 0, 0.5) 1200ms;
	transform: scale(0);
}

div .slide4.revealed{
	transform: scale(1);
}

.slide5{
		background-color: blue;
}

.enhanced div .slide5{
	transition: transform 400ms cubic-bezier(0, 0, 0, 0.5) 1400ms;
	transform: scale(0);
}

div .slide5.revealed{
	transform: scale(1);
}

.slide6{
	background-color: purple;
}

.enhanced div .slide6{
	transition: transform 400ms cubic-bezier(0, 0, 0, 0.5) 1800ms;
	transform: scale(0);
}

div .slide6.revealed{
	transform: scale(1);
}

.skillsSlide > div{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: 6vh;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.skills i, .skills p{
	text-align: center;
	padding: 1vh;
}

.skills p{
	font-size: 2vh;
}

footer{
	position: relative;
	color: black;
	background: white; 
	width: 100%;
	min-height: 12vh;
}

footer p{
	padding: 2vh;
	font-weight: bolder;
	text-align: center;
	box-sizing: border-box;
}

@-webkit-keyframes header_delay{
   0%{transform: translateX(-100vw);}
    75%{transform: translateX(-100vw);}
    90%{transform: translateX(-30vw);}
    95%{transform: translateX(-33vw);}
    100%{transform: translateX(0vw);}
}

@-moz-keyframes header_delay{
   0%{transform: translateX(-100vw);}
    75%{transform: translateX(-100vw);}
    90%{transform: translateX(-30vw);}
    95%{transform: translateX(-33vw);}
    100%{transform: translateX(0vw);}
}

@keyframes header_delay{
    0%{transform: translateX(-100vw);}
    75%{transform: translateX(-100vw);}
    90%{transform: translateX(-30vw);}
    95%{transform: translateX(-33vw);}
    100%{transform: translateX(0vw);}
}

@-webkit-keyframes translating_cloud2{
	0%{transform: scale(0) translate(80vw, -100vh);}
	65%{transform: scale(1.5) translate(0, 0);}
	75%{transform: scale(1.5);}
	90%{transform: translateX(70vw);}
    95%{transform: translateX(67vw);}
    100%{transform: translateX(100vw);}
}

@-moz-keyframes translating_cloud2{
	0%{transform: scale(0) translate(80vw, -100vh);}
	65%{transform: scale(1.5) translate(0%, 0%);}
	75%{transform: scale(1.5);}
	90%{transform: scale(1.5) translateX(70vw);}
    95%{transform: scale(1.5) translateX(67vw);}
    100%{transform: scale(1.5) translateX(100vw);}
}

@keyframes translating_cloud2{
	0%{transform: scale(0) translate(80vw, -100vh);}
	65%{transform: scale(1.5) translate(0%, 0%);}
	75%{transform: scale(1.5);}
	90%{transform: scale(1.5) translateX(70vw);}
    95%{transform: scale(1.5) translateX(67vw);}
    100%{transform: scale(1.5) translateX(100vw);}
	
}

@-webkit-keyframes lightning{
   0%{opacity:0;}
   2%{opacity: 1;}
   14%{opacity: 0;}
   35%{opacity: 0;}
   36%{opacity: 1;}
   58%{opacity: 0;}
   84%{opacity: 0;}
   95%{opacity:1;}
   100%{opacity:0;}
}

@-moz-keyframes lightning{
   0%{opacity:0;}
   2%{opacity: 1;}
   14%{opacity: 0;}
   35%{opacity: 0;}
   36%{opacity: 1;}
   58%{opacity: 0;}
   84%{opacity: 0;}
   95%{opacity:1;}
   100%{opacity:0;}
}

@keyframes lightning{
   0%{opacity:0;}
   2%{opacity: 1;}
   14%{opacity: 0;}
   35%{opacity: 0;}
   36%{opacity: 1;}
   58%{opacity: 0;}
   84%{opacity: 0;}
   95%{opacity:1;}
   100%{opacity:0;}
}


@-webkit-keyframes move_cloud1{ 
	from{margin-top: 0;} 
	to{margin-top: 1vh;}
}

@-moz-keyframes move_cloud1{
	from{margin-top: 0;}
	to {margin-top: 1vh;}
}

@keyframes move_cloud1{ 
	from{margin-top: 0;} 
	to {margin-top: 1vh;}
}


@media screen and (max-width: 640px){
	ul.menuWide{
		display: none;
	}
	.hamburgerContainer{
		display: inline-block;
	}

	div.storm1, div.storm2{
		width: 90%;
		left: 5%;
	}

	div.cloud2{
	position: absolute;
	top: 30%;
	left: 15%;
	width: 70%;
	height: auto;
	box-sizing: border-box;
	}

	div.home1{
		width: 100%;
	}

	div.home1Box{
		width: 90%;
		height: 90%;
		left: 5.1%;
		top: 4%;
		flex-direction: column;
		justify-content: center;
	}

	div.photoMe{
		margin: 0;
		width: 100%;
		height: auto;
	}

	img.photoMe{
		width: 70%;
		height: auto;
		margin: 0 15%;
	}

	div.home2{
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		box-sizing: border-box;
		width: 100%;
		height: auto;
	}

	.home2 h1, .home2 h2{
		text-align: center !important;
		padding: 0 !important;
		padding-top: 3vh !important;
	}

	#aboutMe, #skills{
		display: flex;
		flex-direction: column;
		height: 100vh;
	}


	.chronoList ul, div .skills{
		width: 90%;
		height: 82%;
		margin-left: 5.1%;
		margin-top: 14vh;
	}

	div .skillsSlide{
		
	}
}