@font-face {
    font-family: Scratch;
    src: url(Scratch_.ttf);
}

body, header, svg, div, p, a, h1, h2, img, figure, ul, li, footer{
	margin: 0;
	padding: 0;
}

/* header*/
body{
	background-color: black;
	display: flex;
	flex-direction: column;

}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: sans-serif;
	z-index: 5;
	width: 100%;
	height: 12vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: yellow;
	color: black;
}

.headerDelay{
	opacity: 1;
	animation: header_delay 12s linear 0s 1 forwards ;
	-webkit-animation: header_delay 12s linear 0s 1 forwards ;
	-moz-animation: header_delay 12s linear 0s 1 forwards;
}

header:hover{
	/*background-color: rgba(250, 250, 250, 0.6);*/
}

.headerContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navCloud{
	z-index: 10;
}

.floatingCloud1{
	animation: 1s linear 0s infinite alternate move_cloud1;
	-webkit-animation: 1s linear 0s infinite alternate move_cloud1;
	-moz-animation: move_cloud1 1s linear 0s infinite alternate;
}

img{
	z-index: 10;
	height: 10vh;
	width: auto;
	padding: 1vh;
	box-sizing: border-box;
	
}

ul li{
	list-style-type: none;
	display: inline-block;
}

/* animated hamburger */
		.hamburgerContainer {
		    display: none;
		    cursor: pointer;
		    padding: 3vh 2vh;
		}

		.bar1, .bar2, .bar3 {
			z-index: 10;
		    width: 6vh;
		    height: 0.7vh;
		    background-color: black;
		    border-radius: 50%;
		    margin: 1.1vh 0;
		    transition: 0.4s;
		    box-sizing: border-box;
		}

/* Rotate first bar */
		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-1.7vh, 1vh) ;
		    transform: rotate(-45deg) translate(-1.7vh, 1vh) ;
		}

		/* Fade out the second bar */
		.change .bar2 {
		    opacity: 0;
		}

/* Rotate last bar */
		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-1.4vh, -1vh) ;
		    transform: rotate(45deg) translate(-1.4vh, -1vh) ;
		}

/* menu hamburger */
		.menuHamburger{
			display: block;
			position: fixed;
			top: -88vh;
			right: 0vw;
			font-size: 2.5vh;
			font-weight: bolder;
			width: 100vw;
			height: 88vh;
			background-color: yellow;
			color: black;
			transition: 0.5s;	
			padding-top: 5vh;
			box-sizing: border-box;
		}

.change .menuHamburger{
			transform:  translateY(100vh); 
		}

		.menuHamburger li{
			text-align: center;
			display: block;
			padding: 4vh;
			box-sizing: border-box;
			
		}


/* menu widescreen*/
		ul.menuWide{
			display: inline-block;
			margin: auto 0;
			box-sizing: border-box;
			font-size: 2vh;
			font-weight: bold;
			box-sizing: border-box;
		}

		.menuWide li a{
			width: 18vh;
			display: inline-block;
			padding: 0 3vh;
			border-left: 1px solid black;
			box-sizing: border-box;
		}

.menuWide ul:hover, .menuHamburger ul:hover{
			background-color: white;
		}


		.menuWide a, .menuHamburger a{
			text-align: center;
			text-decoration: none;
			color: black;
		}

div#main{
	position: relative;
	height: 100vh;
	width: 100%;
	color: yellow;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: sans-serif;
}


div.cloud2{
	position: absolute;
	top: 30%;
	left: 25%;
	width: 50%;
	height: auto;
}

img.cloud2{
	z-index: 0;
	width: 100%;
	height: auto;
}

.sizingCloud2{
	animation: size_cloud2 12s linear 0s 1 forwards;
	-webkit-animation: size_cloud2 12s linear 0s 1 forwards;
	-moz-animation: size_cloud2 12s linear 0s 1 forwards;
}

div.sizingLetters{	
	animation: size_letters 12s linear 0s 1 forwards;
	-webkit-animation: size_letters 12s linear 0s 1 forwards;
	-moz-animation: size_letters 12s linear 0s 1 forwards;
}

.codeRays1, .codeRays2{
	position: absolute;
}

.ray1{
	top: 28%;
	left: -5%;
}

.ray1 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-150deg); /* IE 9 */
    -webkit-transform: rotate(-150deg); /* Chrome, Safari, Opera */
    transform: rotate(-150deg);
}
.ray2{
	top: 5%;
	left: 0;
	 
}

.ray2 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-130deg); /* IE 9 */
    -webkit-transform: rotate(-130deg); /* Chrome, Safari, Opera */
    transform: rotate(-130deg);
}

.ray3{
	top: -5%;
	left: 10%;
}

.ray3 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-110deg); 
    -webkit-transform: rotate(-110deg); /* Chrome, Safari, Opera */
    transform: rotate(-110deg);
}

.ray4{
	top: -10%;
	left: 20%;
}

.ray4 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-100deg); 
    -webkit-transform: rotate(-100deg); /* Chrome, Safari, Opera */
    transform: rotate(-100deg);
}

.ray5{
	top: -15%;
	left: 30%;
}

.ray5 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
}

.ray6{
	top: -10%;
	left: 40%;
}

.ray6 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-80deg); 
    -webkit-transform: rotate(-80deg); 
    transform: rotate(-80deg);
}

.ray7{
	top: -10%;
	left: 50%;
}

.ray7 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-70deg); 
    -webkit-transform: rotate(-70deg); 
    transform: rotate(-70deg);
}

.ray8{
	top: 0;
	left: 60%;
}

.ray8 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-60deg); 
    -webkit-transform: rotate(-60deg); 
    transform: rotate(-60deg);
}

.ray9{
	top: 10%;
	left: 70%;
}

.ray9 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-50deg); 
    -webkit-transform: rotate(-50deg); 
    transform: rotate(-50deg);
}

.ray10{
	top: 20%;
	left: 80%;
}

.ray10 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-40deg); 
    -webkit-transform: rotate(-40deg); 
    transform: rotate(-40deg);
}

.ray11{
	top: 30%;
	left: 90%;
}

.ray11 span{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: rotate(-30deg); 
    -webkit-transform: rotate(-30deg); 
    transform: rotate(-30deg);
}

div.storm1{
	background-image: url(images/StormNight1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

div.storm2{
	z-index: 
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(images/StormNight2.svg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	opacity: 1;
	animation:4s linear 0s normal forwards 3 lightning;
    -webkit-animation:4s linear 0s normal forwards 3 lightning;
    -moz-animation:4s linear 0s normal forwards 3 lightning;
}

#main h1{
	position: absolute;
	top: 70vh;
	left: 0;
	width: 100%;
	height: 10vh;
	color: yellow;
	text-align: center;
}

#main h2{
	position: absolute;
	top: 80vh;
	left: 0;
	width: 100%;
	height: 10vh;
	color: yellow;
	text-align: center;
}

footer{
	position: relative
	color: black;
	background-color: yellow;
	width: 100%;
	min-height: 12vh;
}

footer p{
	font-weight: bolder;
}

@media screen and (max-width: 700px){
	ul.menuWide{
		display: none;
	}
	.hamburgerContainer{
		display: inline-block;
	}

	div.cloud2{
	position: absolute;
	top: 30%;
	left: 15%;
	width: 70%;
	height: auto;
	box-sizing: border-box;
	}

	.cloud2 span{
		font-size: 30%;
	}
}

@keyframes header_delay{
   0%{opacity:0;}
    95%{opacity:0;}
    100%{opacity:1;}
}

@keyframes header_delay{
   0%{opacity:0;}
    95%{opacity:0;}
    100%{opacity:1;}
}

@keyframes header_delay{
   0%{opacity:0;}
    95%{opacity:0;}
    100%{opacity:1;}
}


@keyframes size_cloud2{
	0%{width: 10%; height: auto;}
	80%{width: 20%;height: auto;}
	90%{width: 30%; height: auto;}
	100%{width: 100%; height: auto;}
}

@-webkit-keyframes size_cloud2{
	0%{width: 10%; height: auto;}
	80%{width: 20%;height: auto;}
	90%{width: 30%; height: auto;}
	100%{width: 100%; height: auto;}
}

@-moz-keyframes size_cloud2{
	0%{width: 10%; height: auto;}
	80%{width: 20%;height: auto;}
	90%{width: 30%; height: auto;}
	100%{width: 100%; height: auto;}
}

@keyframes size_letters{
	0%{transform: scale(0.1, 0.1) translate(-450vw, 450vh);}
	80%{transform: scale(0.2, 0.2) translate(200vw, -100vh) ;}
	90%{transform: scale(0.3, 0.3) translate(-100vw, 0vh);}
	100%{transform: scale(1, 1);}
}

@-webkit-keyframes size-letters{
	0%{transform: scale(0.1, 0.1) translate(-450vw, 450vh);}
	80%{transform: scale(0.2, 0.2) translate(200vw, -100vh) ;}
	90%{transform: scale(0.3, 0.3) translate(-100vw, 0vh);}
	100%{transform: scale(1, 1);}
}

@-moz-keyframes size-letters{
	0%{transform: scale(0.1, 0.1) translate(-450vw, 450vh);}
	80%{transform: scale(0.2, 0.2) translate(200vw, -100vh) ;}
	90%{transform: scale(0.3, 0.3) translate(-100vw, 0vh);}
	100%{transform: scale(1, 1);}
}

@keyframes size_letters2{
	0%{transform: scale(0.05, 0.05);}
	80%{transform: scale(0.1, 0.1);}
	90%{transform: scale(0.15, 0.15);}
	100%{transform: scale(0.5, 0.5);}
}

@-webkit-keyframes size_letters2{
	0%{transform: scale(0.05, 0.05);}
	80%{transform: scale(0.1, 0.1);}
	90%{transform: scale(0.15, 0.15);}
	100%{transform: scale(0.5, 0.5);}
}

@-moz-keyframes size_letters2{
	0%{transform: scale(0.05, 0.05);}
	80%{transform: scale(0.1, 0.1);}
	90%{transform: scale(0.15, 0.15);}
	100%{transform: scale(0.5, 0.5);}
}


@keyframes lightning{
   0%{opacity:0;}
    15%{opacity: 0;}
    16%{opacity: 1;}
    18%{opacity: 0;}
    94%{opacity: 0;}
    95%{opacity:1;}
    100%{opacity:0;}
}

@-webkit-keyframes lightning{
    0%{opacity:0;}
    15%{opacity: 0;}
    16%{opacity: 1;}
    18%{opacity: 0;}
    94%{opacity: 0;}
    95%{opacity:1;}
    100%{opacity:0;}
}

@-moz-keyframes lightning{
    0%{opacity:0;}
    15%{opacity: 0;}
    16%{opacity: 1;}
    18%{opacity: 0;}
    94%{opacity: 0;}
    95%{opacity:1;}
    100%{opacity:0;}
}

@-webkit-keyframes move_cloud1{ 
	from{ margin-top: 0%;} 
	to{ margin-top: 10%;}
}
@keyframes move_cloud1{ 
	from{ margin-top: 0%;} 
	to {margin-top: 10%;}
}
@-moz-keyframes move_cloud1{
	from{margin-top: 0%;}
	to {margin-top: 10%;}
}

@-webkit-keyframes move_cloud2{ 
	from{ margin-top: 0%;} 
	to{ margin-top: 2%;}
}
@keyframes move_cloud2{ 
	from{ margin-top: 0%;} 
	to {margin-top: 2%;}
}
@-moz-keyframes move_cloud2{
	from{margin-top: 0%;}
	to {margin-top: 2%;}
}
